.header
  数独
%table#sudoku
  =form_with(model: @sudoku) do |f|
    %tr.up
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.medium
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.bottom
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.up
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.medium
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.bottom
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.up
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.medium
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.bottom
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1" 
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :no, class: "sudoku_form",style:"border:none",maxlength: "1"
