.header
  数独
=form_with(model: @sudoku, url: sudokues_path, local: true) do |f|
  %table#sudoku
    %tr.up
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      = f.hidden_field :number,value: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      = f.hidden_field :number,value: "2"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.medium
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.bottom
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.up
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.medium
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.bottom
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.up
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.medium
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
    %tr.bottom
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1" 
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
      %td.group= f.text_field :model_answer, class: "sudoku_form",style:"border:none",maxlength: "1"
  =f.submit "初期値保存"
  
